.container{
    width: 100%;
}

/* Main app wrapper */
.fullscreen{
    width: 100vw;
    height: 100vh;
}

h1{
    text-transform: uppercase;
    font-family: sans-serif;
}

/* Top section of main page */
.selectScreen-header{
    height: 40vh;
    background: url(/assets/brickwall-small.jpg);
    background-size: contain;
 }

 .selectedText {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    color: #fff;
}

/* Bottom section of main page */
.selectScreen-cars{
    background-color: lightcoral;
    height: 60vh;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.car {
    background-color: grey;
    border: 2px solid #353535;
    border-top: 4px solid #353535;
    border-bottom: 4px solid #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .car-1{
    background-color: blue;
}

.car-2{
    background-color: yellowgreen;
}

.car-3{
    background-color: purple;
}

.car-4{
    background-color: red;
}

.car-5{
    background-color: yellow;
} */


.raceScreen-header{
    height: 40vh;
    background: url(/assets/brickwall-small.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raceScreen-race{
    background-color: green;
    height: 60vh;
}
.race-background{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.race-track{
    width: 100%;
    height: 70%;
    background: url(/assets/track.jpg);
    background-size: cover;
}
.grass{
    width: 100%;
    background: url(/assets/grass_grass_1_tiled.jpg);
    background-size: contain;
}

.grass-top{
    
    height: 20%;
}
.grass-bottom{

    height: 10%;
}
.race-area {
    height: 100%;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

.lane{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.lane-1-car, .lane-2-car{
    position: absolute;
    height: 100px;
    width: 200px;
    background-size: cover;
    background-position: center;
    left: 0%;
    align-self: flex-end;
    margin-left: -170px;
    transition: all 0.7s;
}

.lane-2-car{
    align-self: flex-start;
}

.startLine {
    background: url(/assets/startline.png);
    height: 100%;
    position: absolute;
    width: 100px;
}
.finishLine {
    background: url(/assets/finishline.png);
    height: 100%;
    position: absolute;
    width: 100px;
    right: -100px;
}

.button {
    font-size: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.cancel{
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 20px;
}

.blackBg{
    background-color: black;
 }
.steelBg{
    background-color: rgb(42, 50, 61);
 }

 .winnerMessage{
     position: absolute;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 2;
          
 }
 .winnerInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eb3b2a;
    padding: 50px;
 }
 .startMessage{
     position: absolute;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 2;
          
 }
 .startInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eb3b2a;
    padding: 50px;
 }

 /* Used to hide sections */
.hidden{
    display: none;
}